@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Work+Sans:wght@300;400;500;600&display=swap&display=swap');
/* ESTILOS BUSCADOR */
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Work Sans'; 
    height: 100%;
}
.pagination {
    box-sizing: border-box;
    font-family: Montserrat;
    border: 0 !important;
    padding: 5px 0 4px !important;
    margin: 0 !important;
    color: #004884;
    background-color: white;
    font-size: 10px !important;
}
.pagination > li > a {
    
    border: 0 !important;
    border-radius: 2px;
    float: left;
    line-height: 22px;
    margin: 0;
    padding: 0 5px 0 5px;
    text-decoration: none;
}
.pagination > .active > a {
    color:white;
    background-color: #3366CB;
}
.pagination li.active a {
    color: white;
    background: #3366CB 0% 0% no-repeat padding-box;
    border: 1px solid #3366CB;
}
.pagination li.active a:hover {
    color: white;
    background: #3366CB 0% 0% no-repeat padding-box;
    border: 0px !important;
}

.pagination li.active a[data-page="prev"],.pagination li.active a[data-page="next"]  {
    color: #004884;
    background-color: white;
}
.pagination li.active a[data-page="prev"]:hover,.pagination li.active a[data-page="next"]:hover  {
    text-decoration:none !important;
}
.pagination li a[data-page="prev"]:hover,.pagination li a[data-page="next"]:hover {
    text-decoration:underline;
    background-color:white;
    background-image: linear-gradient(white, white);
    border:0 !important; 
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #004884;
    background-color: #e6effd;
    background-image: linear-gradient(#e6effd, #e6effd);
    border:1px solid #3366CB !important; 
}
.datatable-filter-cell {
    display:flex;
    align-items:center;
    justify-content:center;
}

