@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Work+Sans:wght@300;400;500;600&display=swap&display=swap');
/* ESTILOS BUSCADOR */
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Work Sans'; 
    height: 100%;
}

    .buscadorVITAL {
        background: #58B548 0% 0% no-repeat padding-box;
        border-radius: 10px;
        margin-top:15px;
        border-radius: 5px;
        height:50px;
        padding:10px 0px 10px 0px ;
    }

    .buscadorVITAL .opcionBusqueda {
        color: white;
        text-align:right;
        font-size: 13px;
    }

    .buscadorVITAL .textoBusqueda {
        display:flex;
        font-size: 13px;
    }

    .buscadorVITAL .opcionBusqueda select {
        border: 1px solid #C3DBF9;
        border-radius: 5px;
        opacity: 1;
        text-align: left;
        letter-spacing: 0px;
        color: #4B4B4B;
        text-indent: 3%;
        outline: none;
        height:28px;
    }

    .buscadorVITAL .textoBusqueda .buscar-icon {
      float: right;
      position: relative;
      font-size: 16px;
      margin: 3px 0 0 -28px;
      cursor: pointer;
      color: #3366CC;
      width: 25px;
      height: 25px;
    }


.buscadorVITAL .textoBusqueda input[type=text] {
    width: 90%;
    border: 1px solid #C3DBF9;
    border-radius: 23px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #4B4B4B;
    text-indent: 3%;
    outline: none;
}
.buscadorVITAL .textoBusqueda input[type=text]::placeholder { 
  color: #4B4B4B;
  opacity: 1;
}

.buscadorVITAL .textoBusqueda input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #4B4B4B;
  opacity: 1;
}

.buscadorVITAL .textoBusqueda input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
  color: #4B4B4B;
  opacity: 1;
}
.buscadorVITAL .opcionBusqueda [select]::placeholder { 
  color: #4B4B4B;
  opacity: 1;
}

.buscadorVITAL .opcionBusqueda [select]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #4B4B4B;
  opacity: 1;
}

.buscadorVITAL .opcionBusqueda [select]::-ms-input-placeholder { /* Microsoft Edge */
  color: #4B4B4B;
  opacity: 1;
}

.container-loader-buscadorVITAL {
    background-color: #868889 !important;
    opacity: 0.3;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10001;
    width: 100%;
    height: 100%;
}

.loader-buscadorVITAL {
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    margin-left: calc((100vw - 120px)/2);
    margin-top: calc((100vh - 120px)/2);
    border: 16px solid #F1F1F1; /* Gris */
    border-top: 16px solid #3366CB; /* Azul */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.resultados .textoResultado {
    text-align: left;
    font: normal normal 400 14px/14px Montserrat;
    font-size: 13px;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
    /*font-weight: bold;*/
    margin: 15px 0 15px 0;
}
.resultados .Subtitulo {
    text-align: left;
    font: normal normal 400 14px/14px Montserrat;
    font-size: 16px;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
    font-weight: bold;
    margin: 15px 0 15px 0;
}

.resultados .Subtitulo_2 {
    text-align: left;
    font: normal normal 400 14px/14px Montserrat;
    font-size: 13px;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
    font-weight: bold;
    margin: 15px 0 15px 0;
}

.resultados hr {
    border-top: 1px solid #004884;
    opacity: 1;
}

.image_buscar {
	width: 20px;
	border: 0px;
	position: relative;
	top:1px;
}

.textbox-calendar {
      background-image: url('../../../Resources/Img_Vital/ICO-Calendario.png');
      background-repeat: no-repeat;
      background-position: bottom 4px right 4px;
      display: flex;
      width:150px;
}

.nav-tabs > li {
    margin-right:5px;
    background-color: white !important;
    color:#004884 !important;
    font: normal normal Montserrat !important;
    border-radius: 4px 4px 0 0;
    
}

.nav-tabs > li.nav-item > a.active {
    background-color: #004884 !important;
    color:white !important;
    font: normal normal Montserrat !important;
}

.nav-tabs > li > a {
    color:#004884 !important;
    margin-right:0px !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 3px !important;
    border-bottom-color:#004884 !important;
}
.nav-tabs > li.nav-item > a:hover{
    background-color:#e6effd !important;
    cursor:pointer;
}
.nav-tabs > li.nav-item > a.active:hover {
    background-color: #004884 !important;
    cursor:default;
}
#exTab2 .tab-content, #exTab3 .tab-content {
    color: white;
    background-color: white;
    padding: 2.5%;
}
.panelTabs {
    border: solid;
    border-top-width: 4px !important;
    border-top-color: #004884 !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    /*overflow-y: auto;
    height: 600px;*/
}
.content-datos {
    overflow-y: auto;
    height: 700px;
}
.label-detalle {
    color:#4D4D4D;
    text-align:justify;
    clear: both;
    font: normal normal 400 12px/15px 'Work Sans';
}
.label-etiqueta {
    color:#004884;
    clear: both;
    font-size:12px;
    font-weight: 500;
    white-space: nowrap;
}
.tabla_datos {
    border-width: 1px;
    border-style: solid;
    border-color: #e6effd;
    color: #1c1c1b;
    background-color: #ffffff;
    padding: 0;
    font-family: 'Work Sans';
    border-collapse: separate;
    border-spacing: 0;
}

.tabla_datos thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}



.tabla_datos label {
    font-weight: 500;
}

.tabla_datos .headerDatos {
    text-align: center;
    border: 0;
    border-bottom: 1px solid #e6effd;
    background-color: #e6effd;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    color: #004884;
    font-size:12px;
    /*font-weight: 500 !important;*/
    font: normal normal 500 12px/15px 'Work Sans' !important;
}
.tabla_datos th {
    text-align: center;
    border: 0;
    border-bottom: 1px solid #e6effd;
    background-color: #e6effd;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    color: #004884;
    font-size: 12px;
    /*font-weight: 500 !important;*/
    font: normal normal 500 12px/15px 'Work Sans' !important;
}

.tabla_datos th a {
    color: #004884;
}
.tabla_datos .datatable-filter-line {
    text-align: center;
    border: 0;
    border-bottom: 1px solid #e6effd;
    background-color: #e6effd;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    color: #004884;
    font-size:12px;
    /*font-weight: 500 !important;*/
    font: normal normal 500 12px/15px 'Work Sans' !important;
}
.tabla_datos .datatable-filter-line > td {
    padding-top: 4px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;

    overflow: hidden;
    white-space:nowrap;
}
.tabla_datos .datatable-filter-line > td > input[type=text]{
    border-width: 1px;
    border-style: solid;
    margin: 0;
    height: 15px;
    padding: 2px 1px 3px;
    font-size: 12px;
    vertical-align: middle;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-color: #88b3f5;
    color: #1c1c1b;
    width: 85%;
    background-color: #ffffff;
    border-radius: 0px;
    text-align: center;
}
.tabla_datos tbody tr > td {
    border-style: solid;
    border-width: 0 0 1px 0;
    /*font: normal normal 400 12px/15px 'Work Sans';*/
	border-color: #e6effd;
	padding-top: 4px;
    padding-bottom: 3px;
	padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    overflow: hidden;
    font-size:12px;
    /*font-weight: 400 !important;*/
}

.tabla_datos .rowDatos {
    border-style: solid;
    border-width: 0 0 1px 0;
    /*font: normal normal 400 12px/15px 'Work Sans';*/
	border-color: #e6effd;
	padding-top: 4px;
    padding-bottom: 3px;
	padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    overflow: hidden;
    font-size:12px;
    /*font-weight: 400 !important;*/
}

#dvCerrarModal {
    position:absolute;
    margin-left: calc(100% - 6.5%);
    margin-top: -17px;
}

/* ******************************************************
	table paginacion
*********************************************************/

.paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}

.paging-nav,
#tableData {
  width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.label-xsm {
            font-size: 12px;
            color: dimgray;
            /*line-height: 5px;*/
        }
.botones {
    margin-top:15px;
}
.boton-principal {
    font: normal normal 500 12pt/12pt 'Work Sans';
    background-color: #3366CC;
    border-radius: 20px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-weight: 500;
    border: 0;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #3366CC;
}
.boton-secundario{
    font: normal normal 500 12pt/12pt 'Work Sans';
    background-color: #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #3366CC;
    opacity: 1;
    font-weight: 500;
    border: 0;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    width:100%;
    border: 1px solid #3366CC;
}

.RadGridVITAL .rgRow a, .RadGridVITAL .rgAltRow a {
    color: #58B548;
}

.rgSelectedRow span {
    color: white;
}

.modalBackground
{
	background-color:Gray;
	filter:alpha(opacity=40);
	opacity:0.4;
}
.ContenedorModal {
    background-color: #ffffff;
    max-height: 700px;    
    overflow-y: scroll;
    width: 70%;
    padding:20px;
}

.btn-gov-mads {
    border: 0;
    border-radius: 20px;
    padding: 8px 24px;
}
.btn-high, .btn-high-mix-govco {
    background-color: #3366CC !important;
    border-color: #3366CC;
    color: #fff;
}
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input {
    line-height: normal;
}
