<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinProcesoArchivosVITAL.Parametros" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <!--Nombre de la carpeta donde se almacenan los archivos de las quejas dentro del filetraffic-->
    <add key="str_archivos_queja" value="QUEJAS" />
    <add key="FILE_TRAFFIC" value="D:\VitalFiletraffic\" />

    <!--CORREO:-->
    <add key="DefaultCredentials" value="false" />
    <add key="str_servidor_correo" value="smtp.office365.com" />
    <add key="str_sender_correo" value="adminsilamc@anla.gov.co" />
    <add key="str_usuario_correo" value="adminsilamc@anla.gov.co" />
    <add key="str_clave_correo" value="G6eIBbH9b813BfSFOT7gTbNATT543y10AyOPF3Iiugw=" />
    <add key="int_puerto_correo" value="587" />
    <add key="str_correo_control" value="adminsilamc@anla.gov.co" />
    <add key="seguridad_Correo" value="true" />

    <!--Ubicacion de la carpeta donde gattaca almacena los archivos-->
    <add key="str_path_gattaca_file" value="D:\Gattaca\Web Sites\eFormBuilder\Library\Runtime\FormInstance\" />
    <add key="userFinaliza" value="52010" />
    <add key="IdUserFinaliza" value="1" />
    <add key="IdUserComunicacionEE" value="1" />
    <add key="EtiquetaRadicable" value="E:\vital\SILPA_PRE\SILPA.WebHost\EtiquetasRadicables.xml" />
    <add key="RUTA_FILE_TRAFFIC_VIRTUAL" 	value="\\10.0.2.195\VitalFiletraffic$\" />
    <add key="RUTA_FILE_TRAFFIC_VIRTUAL_H" 	value="\\10.0.2.195\VitalFiletraffic$\" />
    <add key="RUTA_FILE_TRAFFIC_VIRTUAL_G" 	value="\\10.0.2.195\VitalFiletraffic$\" />
    <add key="RUTA_FILE_TRAFFIC_VIRTUAL_K" 	value="\\10.0.2.195\VitalFiletraffic$\" />

    <!--Fomulario licencias ambientales 2041-->
    <add key="FORMULARIO_SOLICITUD_LICENCIA" value="276" />
    <add key="str_path_repoUsuario" value="RepoUsuario" />

    <!-- JMARTINEZ JJAMRAMILLO 20201022 LLaves para usuario y password servicio validacion SUNL -->
    <add key="UserWSValidacionSUNLLOFL" value="Vital"/>
    <add key="PasswordWSValidacionSUNLLOFL" value="Vital2020**"/>

    <!-- JMARTINEZ JJAMRAMILLO 20201022 LLaves variable de conexion LOFL -->
    <add key="integradorClaveEncriptar" value="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz012345678912"/>
    <add key="SistemaOrigenLOFL" value="VITAL"/>
    <add key="SistemaDestinoLOFL" value="LOFL"/>
    <add key="codioOperacion" value="000001"/>
    <add key="integradorRedirect" value="http://librooperaciones.minambiente.gov.co/Usuarios/IngresoAnla?TokenIngreso="/>
    <add key="int_pais_predeterminado" value="49" />
    <add key="str_nombrebd_silamc" value="SILAMC_MAVDT" />

  </appSettings>
  <connectionStrings>
    <add name="SilaAnbogwConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=DATA_BUSCADOR;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient"/>
    <add name="ConexionSql" connectionString="data source=10.0.1.42;uid=ing_Jonathan_Acosta;pwd=ConsulV1Tal$21;Database=UPC-B87EDFD904F" providerName="System.Data.SqlClient" />
    <add name="ConexionSql2" connectionString="data source=10.0.1.42;User ID=ing_Jonathan_Acosta;pwd=ConsulV1Tal$21;Database=SILPA_PRE; Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="SILAMCConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=SILAMC_MAVDT;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <add name="SILAConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=SILAMC_MAVDT;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <add name="SILPAConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=SILPA_PRE;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <!--conexiones BPM Gattaca-->
    <add name="eFormBuilderConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=Softmanagement_eFormBuilder;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <add name="eSecurityConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=Softmanagement_eSecurity;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <add name="eWorkFlowConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=Softmanagement_eWorkFlow;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer" />
    <add name="Membresia" connectionString="data source=10.0.1.42;initial catalog=SILAMC_MAVDT_MEMBRESIA;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <add name="SILAMINConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=SILA_MIN_MIGRACION;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WinProcesoArchivosVITAL.Parametros>
            <setting name="AnioInicio" serializeAs="String">
                <value>2016</value>
            </setting>
            <setting name="AnioFinal" serializeAs="String">
                <value>2024</value>
            </setting>
        </WinProcesoArchivosVITAL.Parametros>
    </userSettings>
</configuration>