<?xml version="1.0"?><configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <!-- <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/> -->
    <section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration, Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <securityCryptographyConfiguration defaultHashInstance="SHA1Managed" defaultSymmetricCryptoInstance="passEncryp">
    <hashProviders>
      <add algorithmType="System.Security.Cryptography.SHA1Managed,  mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="SHA1Managed"/>
    </hashProviders>
    <symmetricCryptoProviders>
      <add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" protectedKeyFilename="E:\VITAL\SILPA_PRE\Archivo.key" protectedKeyProtectionScope="CurrentUser" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="passEncryp"/>
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <dataConfiguration defaultDatabase="ConexionSQL2"/>
  <appSettings>
    <!--inicio 2010-->
    <add key="ArchivosTemporales" value="D:\temp\ArchivosTemporales\"/>
    <add key="str_Direccion_Fus" value="D:\VitalFiletraffic\"></add>
    <add key="DireccionFus" value="D:\VitalFiletraffic\"/>
    <add key="TiempoEspera" value="10000"/>
    <add key="Espera" value="1500"/>
    <add key="REPORTES" value="~/Reportes/"/>
    <add key="REPORTESHTML" value="/Silpa/Reportes/"/>
    <add key="DestinoSensibilizacion" value="C:\programas\VITAL\Fuentes\Silpa\Solucion\Silpa\ParametrizacionSensibilizacion\Contenido\"/>
    <add key="FileSizeSensibilizacion" value="6000"/>
    <!--<add key="FILE_TRAFFIC" value="D:\VITAL\SILPA_PRE"/>-->

    <add key="FILE_TRAFFIC" value="D:\VitalFiletraffic\"/>
    <!-- 		<add key="URL_FILE_TRAFFIC" value="http://anlapruvital01.anla.gov.co/SILPA_UT_PRE/VitalFiletraffic/"/>		 -->

    <!-- Log de Errores - 20100525 -->
    <add key="LOG_CONEXION" value="ConexionSQL2"/>
    <add key="LOG_PROCEDIMIENTO_ALMACENADO" value="SMSP_LOG_CREAR"/>
    <add key="LOG_NOMBRE_ARCHIVO" value="C:/Temp/SilpaLog.txt"/>
    <!-- Envio de correo - 20100527 -->
    <add key="CRYPTO_PROVIDER" value="passEncryp"/>
    <add key="DIAS_INHABILITAR" value="60"/>
    <add key="CORREO_CONEXION" value="ConexionSQL2"/>
    <add key="idCorreo" value="194"/>

    <!--Publicacion http del file traffic-->
    <!--<add key="Url_FileTraffic" value="http://vital.anla.gov.co:8184/FileTraffic/"/>-->
    <!--Nombre de la carpeta donde se almacenan los archivos de las quejas dentro del filetraffic-->
    <add key="str_archivos_queja" value="QUEJAS"/>
    <add key="ListaServicios" value="ListaServicios.xml"/>
    <add key="SilaRadicacion.SilaWebService" value="http://vital.anla.gov.co:8090/SilaServiciosWeb/SilaWebService.asmx"/>
    <!--CORREO:-->
    <add key="DefaultCredentials" value="false"/>
    <add key="str_servidor_correo" value="smtp.office365.com"/>
    <add key="str_sender_correo" value="adminsilamc@anla.gov.co"></add>
    <add key="str_usuario_correo" value="adminsilamc@anla.gov.co"></add>
    <add key="str_clave_correo" value="G6eIBbH9b813BfSFOT7gTbNATT543y10AyOPF3Iiugw="></add>
    <add key="int_puerto_correo" value="587"></add>
    <add key="str_correo_control" value="adminsilamc@anla.gov.co"></add>
    <add key="seguridad_Correo" value="true"/>
    <!--parametros-:  Informacion de los parametros del sistema-->
    <add key="int_pais_predeterminado" value="49"></add>
    <add key="ListaParametros" value="ListaParametros.xml"></add>
    <add key="BpmServices" value="http://anlapruvital01.anla.gov.co/silpa/bpm/services/bpmservices.asmx"></add>
    <add key="BPMServices.bpmservices" value="http://anlapruvital01.anla.gov.co/silpa/bpm/services/bpmservices.asmx"/>
    <add key="correspondencia.correspondencia" value="http://anlapruvital01.anla.gov.co/correspondencia.asmx"/>
    <add key="str_path_gattaca_file" value="E:\Gattaca\Web Sites\eFormBuilder\Library\Runtime\FormInstance\"/>
    <add key="str_nombrebd_silamc" value="SILAMC_MAVDT"/>
    <add key="int_tiempo_pago" value="1"/>
    <add key="int_tiempo_recordacion" value="1"/>
    <!-- PSE -->
    <add key="PSE_CERTIFICATESUBJECT" value="C=CO, S=CUNDINAMARCA, L=BOGOTA, O=ACH COLOMBIA, OU=SISTEMAS, CN=www.desarrollopse.com.co"/>
    <add key="PPE_CERTIFICATESTORE" value="Root"/>
    <add key="PPE_CERTIFICATESUBJECT" value="C=CO, S=Cundinamarca, L=Bogota, O=Fondo Nacional Ambiental VITAL, OU=MAVDT, CN=190.60.246.155"/>
    <add key="PSE_URL" value="https://200.1.124.118/PSEWebServices3/MainServices.asmx"/>
    <add key="PPE_URL" value="http://anlapruvital01.anla.gov.co/silpa_ut_pre/PagoElectronico/InformacionTransaccion.aspx"/>
    <add key="PPE_CODE" value="8300252679"/>
    <add key="PSE_CODE" value="1001"/>
    <add key="BANK_CODE" value="498564395"/>
    <add key="Razon_Social" value="Fondo Nacional Ambiental VITAL"/>

    <add key="idCorreo" value="194"/>
    <add key="userFinaliza" value="52010"/>
    <add key="IdUserFinaliza" value="1"/>
    <add key="IdUserComunicacionEE" value="1"/>

    <add key="WSIMP01" value="http://anlapruvital01.anla.gov.co/SilpaWS/WSIMP01.asmx"/>
    <add key="RUTA_FILE_TRAFFIC" value="D:\VitalFiletraffic\"/>
    <add key="LOGWS_PROCEDIMIENTO_ALMACENADO" value="SMSP_LOGWS_CREAR"/>
    <add key="LOGWS_NOMBRE_ARCHIVO" value="E:/Temp/SilpaLogWS.txt"/>

    <add key="NotificacionPDI" value="http://anlapruvital01.anla.gov.co/SilpaWS/ClienteTramitadorAAC/NotificacionPDI.asmx"/>
    <add key="WSPQ03" value="http://anlapruvital01.anla.gov.co/SilpaWS/WSPQ03.asmx"/>
    <add key="WSPQ04" value="http://anlapruvital01.anla.gov.co/SilpaWS/WSPQ04.asmx"/>
    <add key="WSPQ02" value="http://anlapruvital01.anla.gov.co/SilpaWS/WSPQ02.asmx"/>
    <add key="GattacaBpm" value="http://anlapruvital01.anla.gov.co/silpa/bpm/services/bpmservices.asmx"/>
    <add key="WSValidacionToken" value="http://anlapruvital01.anla.gov.co/silpa/esecurity/services/securityservices.asmx"/>
    <add key="bpmservices" value="http://anlapruvital01.anla.gov.co/SilpaWS/bpmservices.asmx"/>
    <add key="EtiquetaRadicable" value="D:\jneva\FuentesSVN\branches\desarrollos\SeparacionVitalV1\Silpa\SILPA\APP\SILPA.WebHost\EtiquetasRadicables.xml"/>

    <!--LLAVEZ IMPERSONALIZAR-->
    <add key="URLImpersonalizar" value="/SILPA/TestSilpa/Security/cambio.aspx?usr={0}"/>
    <add key="URLFinalizarFB" value="/SILPA/eformbuilder/Finalizarimpersonalizacion.aspx"/>
    <add key="URLFinalizarSilpa" value="/Silpa_ut_pre/Impersonalizacion/Finalizarimpersonalizacion.aspx"/>

    <!--paginacion de las grillas ...  -->
    <add key="PaginadoGrilla" value="10"/>

    <!--paginacion de las grillas ...  -->
    <add key="CarpetaNotificacion" value="Notificacion"/>
    <add key="AplicaSeguridad" value="N"/>
    <add key="WSMessageSecurity_001" value="La Autenticacion no es la aprobada para la aplicacion, por favor pongase en contacto con el administrador"/>
    <add key="WSMessageSecurity_002" value="Las credenciales no son las Correctas por favor intente mas tarde y comuniquese con el Administrador de la Aplicacion de Autoridad ambiental"/>

    <!--Credenciales para los servicios web -->
    <add key="usuario_servicio" value="0000001"></add>
    <add key="clave_servicio" value="00000001*"></add>
    <add key="numero_silpa_notificacion_electronica" value="0012300001111111111"/>
    <add key="ActoAdministrarivoNotificacion" value="141"/>

    <!--PYNES -->
    <add key="CODE_PINES" value="XXX"/>
    <add key="ARCHIVOS_PINES" value="Ventanilla\PINES\"></add>
    <add key="IDFIELD_FORM_PINES_MUNICIPIO" value="1754"></add>
    <add key="IDFIELD_FORM_PINES_TIPO_PROYECTO" value="5840"></add>
    <add key="DIAS_ALARMA_VENCIMIENTO" value="3"></add>
    <add key="URL_PROYECTO_VITAL" value="localhost:23318/SILPA.WebHost/ReporteTramite/ReporteTramiteDetallesCiudadano.aspx?NSilpa={0}yId={1}yUbic=Ext"/>
    <add key="ESCRIBIR_LOG" value="true"/>
    <!--LINK RUIA-->
    <add key="textoLinkRUIA" value="En este enlace encontrara el historico del Registro unico de Infractores Ambientales  RUIA correspondiente a las sanciones que fueron reportadas por las autoridades ambientales antes de hacer uso de la Ventanilla Integral de Tramites Ambientales En Linea  VITAL."></add>
    <add key="urlLinkRUIA" value="http://www.anla.gov.co/documentos/ruia/RUIA_NOVIEMBRE_2014.pdf"></add>
    <!--Fomulario licencias ambientales 2041-->
    <!--     <add key="FORMULARIO_SOLICITUD_LICENCIA" value="277"/> -->
    <add key="FORMULARIO_SOLICITUD_LICENCIA" value="276"/>
    <add key="str_path_repoUsuario" value="RepoUsuario"/>

    <!-- Autoliquidacion -->
    <add key="LiquidacionProcesoLicencia" value="07"/>
    <add key="LiquidacionProcesoPermiso" value="75"/>
    <add key="LiquidacionProcesoInstrumentos" value="76"/>
    <add key="LiquidacionFormularioLicencia" value="299"/>
    <add key="LiquidacionFormularioPermiso" value="308"/>
    <add key="LiquidacionFormularioInstrumentos" value="310"/>
    <add key="BPMAutoliquidacionClientID" value="Softmanagement"/>


    <!--DIRECTORIO CONSULT PUBLICA-->
    <add key="DocsSILA" value="\\172.17.35.50\DocsSila$\"/>
    <add key="DocsSILAMC" value="\\172.17.35.50\DocsSMC$\"/>
    <add key="RUTA_FILE_FOREST" value="\\172.17.35.190\"/>
    <add key="RUTA_FILE_TRAFFIC_FISICO" value="D:/"/>

    <add key="RUTA_FILE_TRAFFIC_VIRTUAL" value="http://anlapruvital01.anla.gov.co/vitalfiletraffic/"/>
    <add key="RUTA_FILE_TRAFFIC_VIRTUAL_H" value="http://anlapruvital01.anla.gov.co/vitalfiletrafficH/"/>
    <add key="RUTA_FILE_TRAFFIC_VIRTUAL_G" value="http://anlapruvital01.anla.gov.co/vitalfiletrafficG/"/>
    <add key="RUTA_FILE_TRAFFIC_VIRTUAL_K" value="http://anlapruvital01.anla.gov.co/vitalfiletrafficK/"/>



    <!--SOLICITUD ESTUDIO REA  27/12/2019 JACOSTA-->
    <add key="CarpetaTemporalSolicitudREA" value="Temp\REA"/>
    <add key="BPMSolicitudREAClientID" value="SoftManagement"/>
    <add key="FormularioSolicitudREA" value="337"/>
    <add key="REAProceso" value="56"/>


    <!-- JNEVA 20191021 CONTINGENCIAS -->
    <!--numero de proceso de contingencias-->
    <add key="ContingenciasProceso" value="41"/>
    <!--numero de proceso de contingencias parcial-->
    <add key="ContingenciasParcialProceso" value="73"/>



  </appSettings>
  <microsoft.web.services3>
    <security>
      <x509 allowTestRoot="true" verifyTrust="false" revocationMode="NoCheck"/>
    </security>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo"/>
      <detailedErrors enabled="true"/>
    </diagnostics>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
  <connectionStrings>
    <add name="ConexionSql" connectionString="data source=SILPA_PRE;uid=Adm_Desarrollo;pwd=sasql;Database=UPC-B87EDFD904F" providerName="System.Data.SqlClient"/>
    <add name="ConexionSql2" connectionString="data source=INSTANCIA\BD;Database=SILPA_PRE; Persist Security Info=True;User ID=usuario_bd;Password=clave_bd" providerName="System.Data.SqlClient"/>
    <add name="SILAMCConnectionString" connectionString="Data Source=INSTANCIA\BD;Initial Catalog=SILAMC_MAVDT;Persist Security Info=True;User ID=usuario_bd;Password=clave_bd" providerName="System.Data.SqlClient"/>
    <add name="SILPAConnectionString" connectionString="Data Source=INSTANCIA\BD;Initial Catalog=SILPA_PRE;Persist Security Info=True;User ID=usuario_bd;Password=clave_bd" providerName="System.Data.SqlClient"/>
    <add name="eFormBuilderConnectionString" connectionString="Data Source=INSTANCIA\BD;Initial Catalog=Softmanagement_eFormBuilder;Persist Security Info=True;User ID=usuario_bd;Password=clave_bd" providerName="System.Data.SqlClient"/>
    <add name="eSecurityConnectionString" connectionString="Data Source=INSTANCIA\BD;Initial Catalog=Softmanagement_eSecurity;Persist Security Info=True;User ID=usuario_bd;Password=clave_bd" providerName="System.Data.SqlClient"/>
    <add name="eWorkFlowConnectionString" connectionString="Data Source=INSTANCIA\BD;Initial Catalog=Softmanagement_eWorkFlow;Persist Security Info=True;User ID=usuario_bd;Password=clave_bd" providerName="System.Data.SqlClient"/>
    <add name="DBCorrespondencia" connectionString="Data Source=appsig;Initial Catalog=Correspondencia2_MMA;Persist Security Info=True;User ID=corres_admin;Password=mmacorres" providerName="System.Data.SqlClient"/>
    <add name="SilaAnbogwConnectionString" connectionString="Data Source=INSTANCIA\BD;Initial Catalog=ANLA_DATA_BDG;Persist Security Info=True;User ID=usuario_bd;Password=clave_bd" providerName="System.Data.SqlClient"/>
    <remove name="LocalSqlServer"/>
    <add name="Membresia" connectionString="data source=INSTANCIA\BD;initial catalog=SILAMC_MAVDT_MEMBRESIA;User ID=usuario_bd;Password=clave_bd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="HttpPostLocalhost"/>
      </protocols>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
    <httpRuntime maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" executionTimeout="36000" requestLengthDiskThreshold="104857600" requestValidationMode="2.0"/>
    <globalization culture="es-CO" uiCulture="es-CO"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Deployment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="PresentationCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationFramework, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="UIAutomationProvider, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="ReachFramework, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="UIAutomationTypes, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

        <add assembly="System.Printing, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationUI, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <!-- <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/> -->
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions,Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
    <!-- 		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="240"/> -->
  </system.web>
  <!-- 05/06/2018 -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <defaultDocument enabled="false">
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
  <handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers><validation validateIntegratedModeConfiguration="false"/></system.webServer>
  <location path="WSPQ03.asmx">
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147482624"/>
          <!-- 100 megs      4294967295     -->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="WSPQ01.asmx">
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147482624"/>
          <!-- 100 megs      4294967295     -->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <!-- JG 20180221 BODEGA -->
  <location path="ReporteTramite/ReporteTramiteCP.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ReporteTramite/ReporteTramite.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>