.TablaContenedorFacturaPago
{
    width: 94%;
    margin-left: 3%;
    margin-top: 2%;
    border: 1px solid #000000 !important;
}

.TablaContenedorFacturaPago hr.SeprardarFacturaPago 
{
    border: 0; height: 3px; border-top: 1px dashed #000000; border-bottom: 1px dashed #000000;
}

.TablaFacturaPago 
{
    width: 98% !important;
    margin-left: 1% !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    color: #333333 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.TablaFacturaPago .DesprendibleInformacionPago 
{
    width: 45% !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.TablaFacturaPago .DesprendibleInformacionPago .TablaInformacionPago 
{
    width: 100%;
    border: 1px solid #000000 !important;
}

.TextoCodigoBarras 
{
    text-align: center !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 9px !important;
    color: #000000 !important;
    font-weight: bold !important;
}        

.TablaFacturaPago .DesprendibleCodigoBarrras 
{
    width: 50% !important;
    padding: 3px 3px 3px 3px !important;
}

.TablaFacturaPago .DesprendibleCodigoBarrras .TablaCodigoBarras 
{
    width: 100% !important;        
    text-align: center;    
}


.TablaFacturaPago .LogoFactura
{
    width: 30% !important;
    text-align: center !important;
}

.TablaFacturaPago .LogoFactura
{
    width: 30% !important;
    text-align: center !important;
}

.TablaFacturaPago .TituloFactura
{
    width: 70% !important;
    text-align: center !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 14px !important; 
    color: #333333 !important;
    padding: 3px 3px 3px 3px !important;            
}

.TablaFacturaPago .TituloFacturaBold
{
    width: 70% !important;
    text-align: center !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #333333  !important;
    padding: 3px 3px 3px 3px !important;            
}

.TablaFacturaPago .TablaDatosFactura
{
    width: 100% !important;
    margin-top: 5px !important;
    border: 1px solid #000000 !important;
}

.TablaFacturaPago .TablaDatosFactura .TituloSeccion 
{
    text-align: center !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #333333 !important;
    font-size: 13px !important;
    font-weight: bold !important;
    padding: 3px 3px 3px 3px !important;
    background: #DDDDDD !important;
    width: 50% !important;     
}

.TablaFacturaPago .TablaDatosFactura .EtiquetaFormulario 
{
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #333333 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    padding: 3px 3px 3px 3px !important;
}

.TablaFacturaPago .TablaDatosFactura .DatosFormulario 
{
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #333333 !important;
    font-size: 11px !important;            
    padding: 3px 3px 3px 3px !important;
}
        
.TablaFacturaPago .TablaDatosFactura .TituloTablaFactura
{
    text-align: center !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #333333 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    background: #DDDDDD !important;  
}

.TablaFacturaPago .TablaDatosFactura .TextoTablaFactura td
{
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #333333 !important;
    font-size: 11px !important;
}

.TablaFacturaPago .TablaDatosFactura .TablaDetalleFactura 
{
    width: 100% !important;
    border: 1px solid #CCCCCC !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.TablaFacturaPago .TablaDatosFactura .TextoResultadoTablaFactura td
{
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #333333 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    background: #EEEEEE !important;
}
        
.TablaFacturaPago .TablaDatosFactura .TablaDatosPagoEnCheque
{
    width: 100% !important;
    border: 1px solid #CCCCCC !important;            
    border-collapse: collapse !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}        

.TablaFacturaPago .TablaDatosFactura .TablaDatosPagoEnCheque td
{
    border: 1px solid #CCCCCC !important;            
}        
        
.TablaFacturaPago .TablaDatosFactura .TablaDatosPagoEnCheque .EtiquetaFormulario 
{
    width:20% !important;
}

.TablaFacturaPago .TablaDatosFactura .CheckFormaPago label
{
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #333333 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    padding-left: 5px !important;
    padding-right: 10px !important;
}

.TablaFacturaPago .DesprendibleInformacionPago .TablaInformacionPago .EtiquetaFormularioResumen
{
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #333333 !important;
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 2px 2px 2px 2px !important;
}

.TablaFacturaPago .DesprendibleInformacionPago .TablaInformacionPago .DatosFormularioResumen
{
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #333333 !important;
    font-size: 10px !important; 
    padding: 2px 2px 2px 2px !important;           
}

.TextoPieFactura 
{
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    color: #333333 !important;
    font-size: 9px !important; 
    font-weight: bold !important;    
    font-style:italic !important;
}