<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration, Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <securityCryptographyConfiguration defaultHashInstance="SHA1Managed" defaultSymmetricCryptoInstance="passEncryp">
    <hashProviders>
      <add algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="SHA1Managed" />
    </hashProviders>
    <symmetricCryptoProviders>
      <add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" protectedKeyFilename="D:\Julian\Proyectos\SILPA_PRE_NEWPRODUCCION\SILPA\APP\Archivo.key" protectedKeyProtectionScope="CurrentUser" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="passEncryp" />
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <dataConfiguration defaultDatabase="ConexionSQL2" />
  <appSettings>
    <!--REPORTES-->
    <add key="REPORTES" value="~/Reportes/" />
    <add key="REPORTESHTML" value="/Silpa/Reportes/" />
    <add key="DestinoSensibilizacion" value="C:\programas\VITAL\Fuentes\Silpa\Solucion\Silpa\ParametrizacionSensibilizacion\Contenido\" />
    <add key="FileSizeSensibilizacion" value="6000" />
 
    <!--Nombre de la carpeta donde se almacenan los archivos de las quejas dentro del filetraffic-->
    <add key="str_archivos_queja" value="QUEJAS" />
    <add key="FILE_TRAFFIC" value="D:\VitalFiletraffic\" />
    <add key="ListaServicios" value="ListaServicios.xml" />
    <add key="SilaRadicacion.SilaWebService" value="http://ANBOGCLUNEW\MIGRADLLO:8090/SilaServiciosWeb/SilaWebService.asmx" />
    
    <!--CORREO:-->
    <add key="DefaultCredentials" value="false" />
    <add key="str_servidor_correo" value="smtp.office365.com" />
    <add key="str_sender_correo" value="adminsilamc@anla.gov.co" />
    <add key="str_usuario_correo" value="adminsilamc@anla.gov.co" />
    <add key="str_clave_correo" value="G6eIBbH9b813BfSFOT7gTbNATT543y10AyOPF3Iiugw=" />
    <add key="int_puerto_correo" value="587" />
    <add key="str_correo_control" value="adminsilamc@anla.gov.co" />
	  <add key="seguridad_Correo" value="true" />
    
    <!--CORREO:  Informacion de los parametros del sistema-->
    <add key="ListaParametros" value="ListaParametros.xml" />

    <!--país que permite listar sus departamentos -->
    <add key="int_pais_predeterminado" value="49" />
    <add key="DireccionFus" value="F:\VitalFiletraffic\" />
    <add key="TiempoEspera" value="10000" />
    <add key="Espera" value="1500" />
    
    <!-- Log de Errores - 20100525 -->
    <add key="LOG_CONEXION" value="ConexionSQL2" />
    <add key="LOG_PROCEDIMIENTO_ALMACENADO" value="SMSP_LOG_CREAR" />
    <add key="LOG_NOMBRE_ARCHIVO" value="e:/vital/SilpaLog.txt" />

    <!-- Envio de correo - 20100527 -->
    <add key="CRYPTO_PROVIDER" value="passEncryp" />
    <add key="DIAS_INHABILITAR" value="60" />
    <add key="CORREO_CONEXION" value="ConexionSQL2" />
    
    <!-- PSE -->
    <!-- SamplePPE data -->
    <add key="PSE_URL" value="https://200.1.124.118/PSEWebServices3/MainServices.asmx" />
    <add key="PPE_URL" value="http://vital.anla.gov.co/silpa_ut_pre/PagoElectronico/InformacionTransaccion.aspx" />
    <add key="PPE_CODE" value="8300252679" />
    <add key="PSE_CODE" value="1001" />
    <add key="BANK_CODE" value="498564395" />
    <add key="str_nombrebd_silamc" value="SILAMC_MAVDT" />
    <add key="int_tiempo_pago" value="1" />
    <add key="int_tiempo_recordacion" value="1" />
    
    <!--Ubicacion de la carpeta donde gattaca almacena los archivos-->
    <add key="str_path_gattaca_file" value="D:\Gattaca\Web Sites\eFormBuilder\Library\Runtime\FormInstance\" />
    <add key="BPMServices.bpmservices" value="http://172.17.0.160/xcars/xsilpaservicios/bpmservices.asmx" />
    <add key="CUENTA_CONTROL" value="adminsilamc@anla.gov.co" />
    <add key="PLANTILLA_ACUSE_ENVIO" value="6" />
    <add key="PLANTILLA_ERROR_ENVIO" value="7" />
    <add key="idCorreo" value="194" />
    <add key="userFinaliza" value="52010" />
    <add key="IdUserFinaliza" value="1" />
    <add key="IdUserComunicacionEE" value="1" />
    <add key="RUTA_XML" value="D:\jneva\FuentesSVN\branches\desarrollos\SeparacionVitalV1\Silpa\SILPA\APP\SILPA.WebHost\Menu\" />

    <!--FRAMIREZ 12-06-2020-->
    <add key="WSBuscadorSila" value="http://vital.anla.gov.co:8183/WSBuscador.asmx" />
    
    <!--lista de tareas-->
    <add key="URL_BPM" value="http://vital.anla.gov.co/SILPA/BPM/" />
	  <!--NO SIRVE-->
    <add key="URL_FORMBUILDER" value="http://vital.anla.gov.co/SILPA/eFormBuilder/" />
	
    <add key="WSIMP01.WSIMP01" value="http://anlapruvital01.anla.gov.co/SilpaWS/WSIMP01.asmx" />
    <add key="RUTA_FILE_TRAFFIC" value="F:\VitalFiletraffic\" />
    <add key="NotificacionPDI" value="http://vital.anla.gov.co/Clientemp/NotificacionPDI.asmx" />
    <add key="WSPQ04" value="http://anlapruvital01.anla.gov.co/SilpaWS/WSPQ04.asmx" />
    <add key="WSPQ02" value="http://anlapruvital01.anla.gov.co/SilpaWS/WSPQ02.asmx" />
    <add key="GattacaBpm" value="http://anlapruvital01.anla.gov.co/SilpaWS/bpmservices.asmx" />
    <add key="bpmservices" value="http://anlapruvital01.anla.gov.co/SilpaWS/bpmservices.asmx" />
    <add key="WSValidacionToken" value="http://localhost/silpa/esecurity/services/securityservices.asmx" />
    <add key="EtiquetaRadicable" value="E:\vital\SILPA_PRE\SILPA.WebHost\EtiquetasRadicables.xml" />
    
    <!--LLAVEZ IMPERSONALIZAR LOCAL-->
    <add key="URLImpersonalizar" value="http://vital.anla.gov.co/SILPA/TestSilpa/Security/cambio.aspx?usr={0}" />
    <add key="URLFinalizarFB" value="http://vital.anla.gov.co/SILPA/eformbuilder/Finalizarimpersonalizacion.aspx" />
    <add key="URLFinalizarSilpa" value="http://vital.anla.gov.co/Silpa_ut_pre/Impersonalizacion/Finalizarimpersonalizacion.aspx" />
    <add key="URLSalirSilpa" value="http://vital.anla.gov.co/Silpa/TestSilpa/Security/cerrar.aspx" />
    
    <!--paginacion de las grillas ...  -->
    <add key="PaginadoGrilla" value="10" />
    <add key="CarpetaNotificacion" value="Notificacion" />
    <add key="AplicaSeguridad" value="N" />
    <add key="WSMessageSecurity_001" value="La Autenticacion no es la aprobada para la aplicacion, por favor pongase en contacto con el administrador" />
    <add key="WSMessageSecurity_002" value="Las credenciales no son las Correctas por favor intente mas tarde y comuniquese con el Administrador de la Aplicacion de Autoridad ambiental" />

    <!--Credenciales para los servicios web -->
    <add key="usuario_servicio" value="0000001" />
    <add key="clave_servicio" value="00000001*" />

    <!--Codigo de Barras -->
    <add key="BarcodeProAspNet70LicenseOwner" value="SOFTMANAGEMENT S.A.-Standard Edition-Developer License" />
    <add key="BarcodeProAspNet70LicenseKey" value="2MYS4YNZDSYXYXZ4CRP97BZNF6C7YEXXQ4NTPDG75JX9DTEPZW6Q" />
	
    <!-- Licencia Codigo de Barras 31/09/2019 -->
    <add key="CodigoBarrasOwner" value="SOFTMANAGEMENT S.A.-Standard Edition-Developer License" />
    <add key="CodigoBarrasKey" value="2MYS4YNZDSYXYXZ4CRP97BZNF6C7YEXXQ4NTPDG75JX9DTEPZW6Q" />

	
    <!--Google Map -->
    <add key="GoogleAPIKey" value="ABQIAAAAk0lzFU4D8-VincqoTkbkuhQhdJLsvUkYF8yMmYKgiu7ZIInouBQ6ARKQKlMUCzYxoFk0ebLliNlYqA" />
    <add key="numero_silpa_notificacion_electronica" value="0012300001111111111" />
    <add key="ActoAdministrarivoNotificacion" value="141" />
    <add key="REGISTRO_MINERO_ARCHIVOS" value="http://anlapruvital01.anla.gov.co/vitalfiletraffic" />
    <add key="RUTA_FILE_TRAFFIC_VIRTUAL" 	value="\\10.0.2.195\VitalFiletraffic$\" />
	  <add key="RUTA_FILE_TRAFFIC_VIRTUAL_H" 	value="\\10.0.2.195\VitalFiletraffic$\" />
	  <add key="RUTA_FILE_TRAFFIC_VIRTUAL_G" 	value="\\10.0.2.195\VitalFiletraffic$\" />
	  <add key="RUTA_FILE_TRAFFIC_VIRTUAL_K" 	value="\\10.0.2.195\VitalFiletraffic$\" />	
    <add key="destinatario_recurso_interpuesto" value="lbayonar@gmail.com" />
	  <add key="IDFIELD_FORM_PINES_MUNICIPIO" value="1754"></add>
    
    <!--LINK RUIA-->
    <add key="textoLinkRUIA" value="En este enlace encontrará el histórico del Registro Único de Infractores Ambientales – RUIA correspondiente a las sanciones que fueron reportadas por las autoridades ambientales antes de hacer uso de la Ventanilla Integral de Trámites Ambientales En Línea - VITAL."></add>
    <add key="urlLinkRUIA" value="http://www.anla.gov.co/documentos/ruia/RUIA_NOVIEMBRE_2014.pdf"></add>	

	<!--Fomulario licencias ambientales 2041-->
	<!--     <add key="FORMULARIO_SOLICITUD_LICENCIA" value="277"/> -->
    <add key="FORMULARIO_SOLICITUD_LICENCIA" value="276" />	
    <add key="str_path_repoUsuario" value="RepoUsuario" />
	
	<!--REDDS-->
    <add key="ReddsFormID" value="277" />
    <add key="ReddsClientID" value="Softmanagement" />
   
   <!--NOTIFICACION-->
    <add key="NOT_Carpeta_Temporal" value="F:\VitalFiletraffic\Temp\Notificaciones\" />
    <add key="NOT_SIGPRO_Plantilla_Default" value="109" />
    <add key="NOT_SIGPRO__Destinatario_Default" value="27997" />
    <add key="NOT_SIGPRO_Ruta_Plantilla_Default" value="/Sigpro/" />
    <add key="NOT_SIGPRO_Nombre_Plantilla_Default" value="Registro_Radicacion_VITAL.docx" />
    <add key="NOT_SIGPRO_Dependencia_Origen_Default" value="4.6.2" />
    <add key="NOT_SIGPRO_Dependencia_Destino_Default" value="6" />
    <add key="NOT_SIGPRO_Tipo_Acto_SIGPRO" value="1070" />
    <add key="NOT_SIGPRO_Firma_Identificacion_Default" value="91233099" />
    <add key="NOT_SIGPRO_Firma_Nombre_Default" value="Jhon Cobos Tellez" />
    
    <!-- PSE   24/03/2017  -->
    <add key="PSE_Tiempo_Minutos_TransaccionValida" value="20" />	
    
    <!-- SalvoConducto -->
	<add key="RutaImagenesAutoridades" value="App_Themes/Img/Autoridades/"></add>  

	<!-- Correo Certificado Externo -->
	<add key="CorreoCertificado" value="1" />
	
	<!--DIRECTORIO CONSULT PUBLICA-->
	<add key="DocsSILA" value="\\172.17.35.25\DocsSila$\" />
	<add key="DocsSILAMC" value="\\vital.anla.gov.co\DocsSMC$\" />
	<add key="RUTA_FILE_FOREST" value="\\172.17.35.90\" />
	<add key="RUTA_FILE_TRAFFIC_FISICO" value="F:/" />
    
  <!--Nueva Redireccion TESTSILPA-->
	<add key="URL_TESTSILPA" value="http//vital.anla.gov.co/Silpa_ut_pre/Default.aspx" />

	<!-- Autoliquidacion-->
	<add key="BPMAutoliquidacionClientID" value="Softmanagement" />
	<add key="LiquidacionProcesoLicencia" value="07" />
	<add key="LiquidacionProcesoPermiso" value="75" />
	<add key="LiquidacionProcesoInstrumentos" value="76" />
    
  <add key="CarpetaTemporalSolicitudREA" value="Temp\REA" />
    <add key="BPMSolicitudREAClientID" value="SoftManagement" />
    <add key="FormularioSolicitudREA" value="342" />		
  
    <!-- JNEVA 20200129 CONTINGENCIAS -->
    <add key="BPMSolicitudContingenciasClientID" value="Softmanagement" />
    <add key="FormularioSolicitudContingencias" value="341" />
    <add key="CarpetaTemporalSolicitudContingencias" value="Temp\SolicitudContingenciasTemp" />
    <add key="CarpetaTemporalSolicitudContingenciasError" value="Temp\SolicitudContingenciasError" />
    
  <!-- URL Retorno Integracion -->
    <add key="IntegracionURLRetorno" value="http://localhost:15364/SILPA.WebHost/Default.aspx" />
      
  <!--PDV-->
  <add key="PDVTramite" value="68" />
  <add key="PDVOficioRetorno" value="969"/>

    <!-- URL Notificaciones ANLA -->
    <add key="URLEstadosNotificacionesANLA" value="http://anlapruvital01.anla.gov.co/SinotWeb/ModulosPublicos/Documentos/NotificacionEstados"/>


    <!-- JMARTINEZ JJAMRAMILLO 20201022 LLaves para usuario y password servicio validacion SUNL -->
    <add key="UserWSValidacionSUNLLOFL" value="Vital"/>
    <add key="PasswordWSValidacionSUNLLOFL" value="Vital2020**"/>
    
    <!-- JMARTINEZ JJAMRAMILLO 20201022 LLaves variable de conexion LOFL -->
    <add key="integradorClaveEncriptar" value="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz012345678912"/>
    <add key="SistemaOrigenLOFL" value="VITAL"/>
    <add key="SistemaDestinoLOFL" value="LOFL"/>
    <add key="codioOperacion" value="000001"/>
    <add key="integradorRedirect" value="http://librooperaciones.minambiente.gov.co/Usuarios/IngresoAnla?TokenIngreso="/>


<!--  Llaves conexion recaptcha -->
    <add key="recaptcha-publico" value="6LfPaygbAAAAAO-DkQ6NtbhSsjY7oFirm5kYnaWv"/>
    <add key="recaptcha-privado" value="6LfPaygbAAAAAEzA_LX3SrW7-zADu-qB0s_pcnrm"/>
    <add key="recaptcha-url-api" value="https://www.google.com/recaptcha/api.js"/>
    <add key="recaptcha-url-verificacion" value="https://www.google.com/recaptcha/api/siteverify"/>
  </appSettings>
  <microsoft.web.services>
    <security>
      <x509 storeLocation="CurrentUser" verifyTrust="true" allowTestRoot="true" />
    </security>
    <diagnostics>
      <trace enabled="false" input="InputTrace.TXT" output="OutputTrace.TXT" />
    </diagnostics>
  </microsoft.web.services>
  <connectionStrings>
    <add name="SilaAnbogwConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=DATA_BUSCADOR;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient"/>
    <add name="ConexionSql" connectionString="data source=10.0.1.42;uid=ing_Jonathan_Acosta;pwd=ConsulV1Tal$21;Database=UPC-B87EDFD904F" providerName="System.Data.SqlClient" />
    <add name="ConexionSql2" connectionString="data source=10.0.1.42;User ID=ing_Jonathan_Acosta;pwd=ConsulV1Tal$21;Database=SILPA_PRE; Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="SILAMCConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=SILAMC_MAVDT;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <add name="SILAConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=SILAMC_MAVDT;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <add name="SILPAConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=SILPA_PRE;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
     <!--conexiones BPM Gattaca--> 
    <add name="eFormBuilderConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=Softmanagement_eFormBuilder;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <add name="eSecurityConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=Softmanagement_eSecurity;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <add name="eWorkFlowConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=Softmanagement_eWorkFlow;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer" />
    <add name="Membresia" connectionString="data source=10.0.1.42;initial catalog=SILAMC_MAVDT_MEMBRESIA;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    <add name="SILAMINConnectionString" connectionString="Data Source=10.0.1.42;Initial Catalog=SILA_MIN_MIGRACION;Persist Security Info=True;User ID=ing_Jonathan_Acosta;Password=ConsulV1Tal$21" providerName="System.Data.SqlClient" />
    
    <!--<add name="ConexionSql" connectionString="data source=SILPA_PRE;uid=jgmartineza;pwd=cC80245757;Database=UPC-B87EDFD904F" providerName="System.Data.SqlClient"/>
    <add name="ConexionSql2" connectionString="data source=172.17.0.204\MADSWBDVITAL_PRU;Database=SILPA_PRE; Persist Security Info=True;User ID=jgmartineza;Password=cC80245757" providerName="System.Data.SqlClient"/>
    <add name="SILAMCConnectionString" connectionString="Data Source=172.17.0.204\MADSWBDVITAL_PRU;Initial Catalog=SILAMC_MAVDT;Persist Security Info=True;User ID=jgmartineza;Password=cC80245757" providerName="System.Data.SqlClient"/>
    <add name="SILPAConnectionString" connectionString="Data Source=172.17.0.204\MADSWBDVITAL_PRU;Initial Catalog=SILPA_PRE;Persist Security Info=True;User ID=jgmartineza;Password=cC80245757" providerName="System.Data.SqlClient"/>
    <add name="eFormBuilderConnectionString" connectionString="Data Source=172.17.0.204\MADSWBDVITAL_PRU;Initial Catalog=Softmanagement_eFormBuilder;Persist Security Info=True;User ID=jgmartineza;Password=cC80245757" providerName="System.Data.SqlClient"/>
    <add name="eSecurityConnectionString" connectionString="Data Source=172.17.0.204\MADSWBDVITAL_PRU;Initial Catalog=Softmanagement_eSecurity;Persist Security Info=True;User ID=jgmartineza;Password=cC80245757" providerName="System.Data.SqlClient"/>
    <add name="eWorkFlowConnectionString" connectionString="Data Source=172.17.0.204\MADSWBDVITAL_PRU;Initial Catalog=Softmanagement_eWorkFlow;Persist Security Info=True;User ID=jgmartineza;Password=cC80245757" providerName="System.Data.SqlClient"/>
    <add name="DBCorrespondencia" connectionString="Data Source=appsig;Initial Catalog=Correspondencia2_MMA;Persist Security Info=True;User ID=corres_admin;Password=mmacorres" providerName="System.Data.SqlClient"/>
    <add name="SilaAnbogwConnectionString" connectionString="Data Source=172.17.0.204\MADSWBDVITAL_PRU;Initial Catalog=ANLA_DATA_BDG;Persist Security Info=True;User ID=jgmartineza;Password=cC80245757" providerName="System.Data.SqlClient"/>
	
    <remove name="LocalSqlServer"/>
    <add name="Membresia" connectionString="data source=10.0.1.42;initial catalog=SILAMC_MAVDT_MEMBRESIA;User ID=anla_soporte;Password=Exp3r1enc1a$" providerName="System.Data.SqlClient"/>-->

  
  
    
    <!-- Creado el 09/01/2018 Destino Bodega de Datos-->
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="2048000" useFullyQualifiedRedirectUrl="true" executionTimeout="90" requestLengthDiskThreshold="1073741824" requestValidationMode="2.0" />
    <globalization culture="es-CO" uiCulture="es-CO" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Deployment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Deployment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationUI, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    
    <!--<authentication mode="Forms">
      <forms loginUrl="~/../SILPA/TestSilpa/Security/Login.aspx" protection="All" timeout="90" name="SILPA.ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>-->   
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <customErrors mode="Off" />
    <pages theme="skin" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="listadoble" src="~/controles/ctlAdicionarPerfiles.ascx" tagName="lista" />
		    <add tagPrefix="cc1" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Membresia" applicationName="sila2.minambiente.gov.co" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="240" />
    <xhtmlConformance mode="Transitional" />
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </webServices>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <!-- JNEVA 20191212 Nuevo handler Captcha -->
      <add verb="*" path="Captcha.ashx" type="HttpCaptchaHandler" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <!-- JNEVA 20191212 Acceso a nuevo handler Captcha -->
    <location path="Captcha.ashx">
        <system.web>
	    <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location> 
  <location path="DatosPersonales.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CambiarClave.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ReestablecerClave.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Informacion">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Mantenimiento">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RepresentanteLegal.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="QuejasDenuncias/QuejasDenuncias.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Apoderado.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AudienciaPublica">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RUIA/ConsultarSancion.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ReporteTramite/ReporteTramiteCiudadano.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ReporteTramite/Ubicacion.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ReporteTramite/Gservice.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ReporteTramite/ReporteTramiteDetallesCiudadano.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Salir.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ReporteTramite/DescargarDocumentos.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ResumenEIA/Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NoVisitante.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NotificacionElectronica/NotificacionEstados.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- Adicionar -->
  <!-- JNS 20170904 NOTIFICACIONES -->
  <location path="NotificacionElectronica/DocumentosActosPlantillas.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
<!-- JG 20180221 BODEGA -->  
<location path="ReporteTramite/ReporteTramiteCP.aspx">
  <system.web>
    <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
</location>

  <location path="ReporteTramite/ReporteTramite.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
<location path="ReporteTramite/ReporteEstadoTramite.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
 <!--bosques.tic se agregar estos tag para que el formulario no tenga validacion de seguridad--> 
  <location path="SINTRAB/MenuSINTRAB.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Salvoconducto/ConsultaSalvoconductoCiudadano.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
    <location path="Salvoconducto/ConsultaDetalleSalvoconductoWeb.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="CaptchaNew.aspx">
        <system.web>
	    <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location> 

  <location path="RecuperarEnlace.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--bosques.tic se agregar estos tag para que el formulario no tenga validacion de seguridad--> 
  <system.webServer>
    <security>
        <requestFiltering>
          <!-- maxAllowedContentLength is in Bytes not Kilobytes -->
			    <requestLimits maxAllowedContentLength="2048000000" />
        </requestFiltering>
    </security>  
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
    <defaultDocument>
        <files>
            <clear />
            <add value="default.aspx" />
        </files>
    </defaultDocument>
  </system.webServer>
  
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  
  <!--jmartinez se adiciona la variable contrato para la conexion del servicio del validador del LOFL-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
          <binding name="WSHttpBinding_IServiceSunl">
              <security mode="None" />
          </binding>
      </wsHttpBinding>
    </bindings>
    
    
    <client>
      <endpoint address="http://librooperaciones.minambiente.gov.co/servicios-lofl/ServiceSunl.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceSunl"
          contract="WSValidarSunlLOFL.IServiceSunl" name="WSHttpBinding_IServiceSunl" />
    </client>
  </system.serviceModel>
  
</configuration>